# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Database files
*.sqlite3
*.db
users.db

# IDEs and Editors
.vscode/
.idea/

# Environment Variables
.env
